#auth_form_mod{
	padding: 15px;
	width: 400px;
}
.captcha{
	width:110px;
	height:40px;	
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}
.captcha_find{	
	margin-left:15px;
	width: 190px;
}
.captcha_update{
	margin-left:15px;
	width: 40px;
}