#content{
	margin:10px auto;
	width:100%;
}
#list .user{
	width: 100%;
	white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

#news-list ul.listview{
	padding:0;
	text-align: left;
	margin:0;
}
#news-list ul.listview li{
	list-style: outside none none;
	position: relative;
	border: 1px solid #8db0d3;	
	border-radius: 5px;	
	overflow: hidden;
    display: inline-block;
	margin:0;
	width: 230px;
	margin-bottom: 10px;
}
#news-list ul.listview li a{
	display: block;		
}
#news-list ul.listview .avatar{
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color:#8db0d3;	
	width: 230px;
	height: 230px;	
}
#news-list .text{	
	font-size: 25px;
	font-weight: 400;
	color: #f4dd0b;
	overflow-wrap: break-word;
	padding: 10px;
	min-height: 40px;
}
#news-list .group{
	padding: 0;
	height: 52px;
	justify-content: start;
}
#news-list .group .group-avatar{
	background-color:#8db0d3;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	border:1px solid #8db0d3;
	border-radius: 50%;
	width:50px;
	height:50px;	
}
#news-list .group .group-name{
	margin-left:20px;
	font-size:20px;
	color:#5bd82c;
	align-items: center;
	height:50px;
	overflow:hidden;
	overflow-wrap: break-word;
	line-height: 23px;
	width:158px;	
}

